/*** Main Container ***/

.main-container {
  display: -webkit-inline-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content: space-around;
 }
.center-container {
  display: -webkit-inline-flex; /* Safari */
  display: flex;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
 }
 
.double-flex-item{
 -webkit-flex-grow: 1; /* Safari */
  flex-grow: 1;
}

#object {
	position: fixed;
	top: 0;
	left: 0;
}

.bigfirst:first-letter {
	font-size: 400%;
	float: left;
	color: red;
}

*:focus {
	border: 6px dotted #888888;
}